body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #0b122b;
  background-image: url("bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.left-card {
  width: 300px;
  height: 150px;
  background-color: #1e2c69;
  border-radius: 10px 80px 10px 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.icon-group {
  display: flex;
  gap: 10px;
}

.icons {
  background-color: #0b122b;
  padding: 15px;
  width: 24px;
  height: 20px;
  border-radius: 10px;
}

.box-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 550px;
  height: 150px;
  padding: 20px;
  background-color: #1e2c69;
  border-radius: 10px;
  h3 {
    color: white;
    font-weight: 100;
  }
  h1 {
    font-size: 35px;
    color: black;
  }
  h2 {
    font-size: 15px;
    color: #797979;
  }
}

.box-right {
  transform: translateY(10px);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 15px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 15px;
  background: linear-gradient(
    to right,
    #fcae7e 0%,
    #ee2c6c 80%,
    rgb(18, 19, 90) 80%,
    rgb(6, 2, 73) 100%
  );
  border-radius: 15px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.slider::-moz-range-track {
  height: 15px;
  background: transparent;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.tooltip {
  position: relative;
  display: flex;
  border-bottom: 1px rgb(255, 255, 255);
  justify-content: flex-end;
  align-items: flex-end;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 10px;
  font-size: 15px;
  bottom: 70px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 80%;
  border-width: 15px 0 15px 30px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.counter {
  display: flex;
  justify-content: space-between;
  color: white;
  h4 {
    margin: 5px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #0b122b;
    background-image: url("bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-card,
    .box-right {
      width: 100%;
      height: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .box-right h1 {
      font-size: 22px;
    }

    .box-right h2,
    .box-right h3 {
      font-size: 12px;
    }

    .slider {
      width: 100%;
    }

    .icons {
      padding: 8px;
      width: 18px;
      height: 18px;
    }

    .logo img {
      width: 100px;
      margin-left: 0;
    }
  }
}
